global
    log stdout format raw local0
    maxconn 10000

defaults
    log     global
    mode    tcp
    option  tcplog
    option  clitcpka
    option  srvtcpka
    timeout connect 5s
    timeout client  2h
    timeout server  2h
    timeout check   5s

frontend tcp_in_443
    bind *:443
    maxconn 8000
    option tcp-smart-accept
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    use_backend gpx_editor if { req.ssl_sni -i gpx.atemirov.ru }
    default_backend telemt_nodes

backend telemt_nodes
    option tcp-smart-connect
    server server_b 10.10.10.1:4443 check inter 5s rise 2 fall 3 send-proxy-v2

backend gpx_editor
    option tcp-smart-connect
    server gpx_web 127.0.0.1:8443 check inter 5s rise 2 fall 3
